Flask
gunicorn
CONSUMER_KEY=awFICQ3XydFTsJTZp0SNJOSxGSx5zeAdlHuc1d6T2rWQvwGN
CONSUMER_SECRET=KzGBDBfuHxfnkWMpJ1UvdaAr4nY9ivKVRS3JZMZppr8aVcHB2fw5LM5GNFgsR85n"
PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2eOc893059b10f78e6b72ada1ed2c919
SHORTCODE=174379

